<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example">

  <xacro:include filename="$(find livox_laser_simulation)/urdf/mid360_IMU_platform.xacro"/>

  <!-- Base Footprint for standalone usage -->
  <link name="base_link" />

  <xacro:LivoxMid360_IMU_Plantform
      name="mid360_imu_plantform"
      parent_link_name="base_link"
      x="0.0" y="0.0" z="0.3367"
      r="0.0" p="0.0" yaw="0.0"
      ros_topic="/livox/points"/>

</robot>
